<!DOCTYPE html>
<html lang="en">

<head>
  {{>links}}
</head>

<body>
    <!-- Nav Bar Start -->
      {{>navbar}}
    <!-- Nav Bar End -->

 <!-- Main Header Start-->
 <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
     <div class="row">
       
        <div class="col-md-6 col-12 main_rightside align-item-center">
           <figure>
             <img src="images/wind.png" alt="wind pic" class="img-fluid" title="wind pic">
           </figure>
        </div>
        <div class="col-md-6 col-12 main_leftsde">
          <p>Welcome to Weather Website</p>
          <h1>I am a <span class="weather-hai">Web, ReactJS & MERN Stack</span> developer</h1>
          <a href="https://deepakkumar9470.github.io/newportfolio2020/" target="_deepak"><button>About me</button></a>
      </div>
    </div>
     </div>
    </div>
</div>

<!-- Main Header End-->

{{>footer}}

   <script src="js/main.js"></script>
</body>

</html>