<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    <!-- Nav Bar Start -->
      {{>navbar}}
    <!-- Nav Bar End -->

 <!-- Main Header Start-->
 <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
         <div class="main-content">
            <from class="temp_form">
               <input type="text" id="cityName" name="cityName" placeholder="Enter City name" autocomplete="off">
               <input type="submit" value="search" id="submitBtn">
            </from>
         </div>
           <div class="tempInfo">
               <div class="top_layer">
                 <p id="day">Saturday</p>
                 <p id="today_data">21 Nov</p>
               </div>
               <div class="main_layer">
                 <p id="city_name">Get output here</p>
                 <div class="middle_layer data_hide">
                   <p id="temp"> <span id="temp_real_value">0</span>  <sup>o</sup>C</p>
                   <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>
                 </div>
               </div>
           </div>

     </div>
    </div>
</div>

<!-- Main Header End-->
{{>footer}}
   <script src="js/main.js"></script>
    <script>
      
      const getcurrentDay = () =>{
        let weekday = new Array(7);
        weekday[0] = 'Sunday';
        weekday[1] = 'Monday';
        weekday[2] = 'Tuesday';
        weekday[3] = 'Wednesday';
        weekday[4] = 'Thursday';
        weekday[5] = 'Friday';
        weekday[6] = 'Saturday';

        let currtime = new Date();
        let days = weekday[currtime.getDay()];
        let day = document.getElementById('day');
        day.innerText = days;
        
      };
      getcurrentDay();

    </script> 
  
</body>

</html>